body,html {
	margin: 0;
	padding: 0;
}

body {
	font: normal 12px Verdana, sans-serif;
}

.ellipsis {
	overflow: hidden;
}

.header {
	text-align: right;
	background-color: #8d5c27;
	background-image: url('../img/header-background.png');
	background-repeat: repeat-x;
	border-bottom: 1px solid black;
	width: 100%;
}

.content {
	margin: 1em auto;
	max-width: 80em;
}

.hidden {
	position: absolute;
	left: -9999px;
	visibility: hidden;
}

.query {
	margin: 1em 2em;
	text-align: center;
}

.query input.userInput {
	width: 100%;
    padding: .2em;
	font-size: 180%;
}

.query input.userInput:focus {
  border-color: orange;
}

.query ul.entityFacets, ul.entityOccurrences {
	list-style-type: none;
	height: 3em;
	padding: 0;
}

.query ul.entityFacets {
	text-align: center;
	margin: .5em 0 0 0;
}

ul.entityOccurrences {
	text-align: right;
	margin: 1.5em 0;
}

.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

.entityTooltip {
  /* Hidden by default, jquery tools tooltip plugin will trigger the display
       of the element */
  display: none;
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 1em;
  width: 450px;
  box-shadow: 0 0 10px #ddd;
  text-align: justify;
}

.entityTooltip p {
  max-height: 300px;
	font-size: 90%;
	color: #555;
}

li.tag {
    background-color: #274291;
    border: 1px solid #00144F;
    border-radius: 3px 3px 3px 3px;
    display: inline;
    line-height: 200%;
    padding: 0.1em 0.3em 0.2em;
    color: #fff;
}

li.tag a, li.tag a:visited  {
	text-decoration: none;
	color: #fff;
}

li.tag a:hover {
	text-decoration: underline;
}

li.tag a.removeEntityLink {
  border-left: 1px solid #000;
  padding: 0 0 .1em .4em;
}

li.tag topic {
  background-color: #936533;
}

.results {
	margin: 1em;
}

.results .resultDoc {
	margin-top: 2em;
	font-size: 90%;
	color: #555;
}

.results .newsMLContent {
	max-height: 200px;
	overflow-y: auto;
}

 .results .videoTranscription {
	max-height: 180px;
	overflow-y: auto;
	padding-left: 1em; 
 }

.lang-ar {
	direction: rtl;
}

.results .videoTranscription span:hover {
    background-color: #ffa810;
}

.results .videoTranscription span.nowPlaying {
	background-color: #ffe6ba;
}

.results h2 {
	margin-top: 2.5em;
	font-size: 200%;
}

.results .duration {
	margin-top: 2em;
	color: #ddd;
	text-size: 30;
	font-style: italic;
}

.video-js-box {
	float: left;
	margin-right: 1em;
	margin-bottom: 1em;
}