stanbol-temis
stanbol-mondeca
nuxeo-newsml
nuxeo-vocapia
nuxeo-platform-semantic-entities
samar-integration/bin
target
.project
.settings
.classpath
*.swp
*.swo
*~

deployment/stanbol_env.sh
deployment/samar.properties
deployment/limsi_credentials.ini
deployment/translation.ini
pojo-bin
seam-bin
