stanbol.temis.luxid.service.wsdl.url=""
stanbol.temis.luxid.service.account.id=""
stanbol.temis.luxid.service.annotation.plan=""
service.factoryPid="org.nuxeo.stanbol.temis.engine.TemisLuxidEnhancementEngine"
service.pid="org.nuxeo.stanbol.temis.engine.TemisLuxidEnhancementEngine-temis"
stanbol.temis.luxid.service.account.password=""
stanbol.enhancer.engine.name="temis"
service.bundleLocation="slinginstall:stanbol-temis-0.1.0-SNAPSHOT.jar"
service.ranking=I"0"
