service.bundleLocation="slinginstall:org.apache.stanbol.enhancer.chain.list-0.10.0-SNAPSHOT.jar"
service.ranking=I"0"
service.pid="org.apache.stanbol.enhancer.chain.list.impl.ListChain-samar"
stanbol.enhancer.chain.name="samar"
service.factoryPid="org.apache.stanbol.enhancer.chain.list.impl.ListChain"
stanbol.enhancer.chain.list.enginelist=["tika;optional","langdetect","temis","dbpediaLinking;optional"]
